@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* グラデーション背景とフォントの設定 */
body {
  margin: 0;
  font-family: "Neuton", serif;
  text-align: center;
  font-size: 20px;
  color: #fff;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(45deg, #9b9bff, #a278f5, #668aff, #9b9bff);
  background-size: 200% 200%;
  animation: bggradient 15s ease infinite;
}

/* アニメーション定義 */
@keyframes bggradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* 段落の基本スタイル */
p {
  margin: 0 auto;
  padding-top: 20px;
}
